// _config.scss
$primary-color: rgba(42, 190, 121, 0.822);
$secondary-color: rgb(221, 134, 19);


*{
  box-sizing: border-box;
  
}

nav {  
 background: $primary-color;
  font-variant: length($list: 50);
  color: black;
  height: 100%; 
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  padding: 1rem;
}

.navbar-brand{
 font-size: 4rem;
 color: orangered;
}
