$primary-color: rgba(1, 24, 13, 0.822);
$secondary-color: rgb(236, 66, 14);
$font-stack:    Helvetica, sans-serif;





*{
  box-sizing: border-box;
  
}

 
label{
  font: 100% $font-stack;
  color: $secondary-color;
}

button{
    color: black;
}
