
<body>
<main id="home">
    <h1 class="lg-heading">
        Cooking Is <span class="text-secondary">Fun</span>
    </h1>
    <h2 class="sm-heading">
        Eating is necessity but Cooking is an art!!!
    </h2>
    <div class="icons">
        
        <a href="#!">
            <i class="fa fa-facebook fa-2x"></i>
        </a>
        <a href="#!">
            <i class="fa fa-instagram fa-2x"></i>
        </a>
        <a href="#!">
            <i class="fa fa-twitter fa-2x"></i>
        </a>
        <a href="#!">
            <i class="fa fa-youtube fa-2x"></i>
        </a>
    </div>
</main>   
</body>

    


